*.class

# Package Files #
*.jar
*.war
*.ear
*.pmd

# mvn build output
target/
bin/

# Eclipse project files
.classpath
.project
.settings/
.springBeans
*.launch

# Mac finder
.DS_Store

*.iml

# checkstyle dot file
.checkstyle

# InjelliJ project files
.idea/

*.orig


