<div class="secContent"> 
<div data-ng-repeat="error in errors">
    <div><span class="icon_sprite icon_error error"></span>{{error}}</div>
</div>
           
<div data-ng-form="invoiceForm" >
    <div data-ng-show="invoiceForm.$dirty" class="dirtynag">* Warning: You have unsaved changes</div>
    <div class="fieldGroup">
    <h5 class="studentLayout">Invoice Information <span class="control-label-required">Indicates required field</span></h5>
    <ul>
         <li>
            <span> 
                <label class="control-label-required" for="invoice.invoiceNo" required>Invoice No:</label>
                <input type="text" name="invoice.invoiceNo" data-ng-model="invoice.invoiceNo" />
            </span>
         </li>
                  
    </ul>
 
         <button type="button" class="boxBtn"  data-ng-click="createInvoice(invoice)">
            <span class="btnIcon icon_sprite icon_save2" ></span>
            <span class="btnText">Create Invoice</span>
         </button>       
   
       </div>
 
</div>
<div class="clear"></div>

 